body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilo base para los botones */
button {
  background-color: #f0ad4e; 
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

/* Botón de eliminar */
button.eliminar-btn {
  background-color: #f44336; /* Rojo */
  color: white;
}

button.eliminar-btn:hover {
  background-color: #d32f2f; /* Rojo oscuro */
}

/* Botón de actualizar */
button.actualizar-btn {
  background-color: #f0ad4e; /* Naranja */
  color: white;
}

button.actualizar-btn:hover {
  background-color: #ec971f; /* Naranja oscuro */
}

/* Separación entre los botones de acción */
button {
  margin-right: 10px; /* Añadir margen derecho entre los botones */
}

/* Agregar bordes redondeados */
button {
  border-radius: 5px;
}
